@font-face {
  font-family: 'EkMukta';
  font-style: normal;
  font-weight: 400;
  src: local('EkMukta Regular'), local('EkMukta-Regular'),
       url('..//fonts/EkMuktaRegular-mOLv.ttf') format('ttf'),
}

@font-face {
  font-family: 'EkMukta';
  font-style: normal;
  font-weight: 500;
  src: local('EkMukta Medium'), local('EkMukta-Medium'),
       url('..//fonts/EkMuktaMedium-7vBD.ttf') format('ttf'),
}